<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="websiteConnectionString" connectionString="Data Source=khalil;Initial Catalog=website;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="asp_projConnectionString" connectionString="Data Source=khalil;Initial Catalog=asp_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString2" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString3" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString4" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString5" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString6" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString7" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString8" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString9" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString10" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString11" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString12" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tomorrwland_projConnectionString13" connectionString="Data Source=khalil;Initial Catalog=tomorrwland_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="asp_projConnectionString2" connectionString="Data Source=khalil;Initial Catalog=asp_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="asp_projConnectionString3" connectionString="Data Source=khalil;Initial Catalog=asp_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="asp_projConnectionString4" connectionString="Data Source=khalil;Initial Catalog=asp_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="asp_projConnectionString5" connectionString="Data Source=khalil;Initial Catalog=asp_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="asp_projConnectionString6" connectionString="Data Source=khalil;Initial Catalog=asp_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="asp_projConnectionString7" connectionString="Data Source=khalil;Initial Catalog=asp_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="asp_projConnectionString8" connectionString="Data Source=khalil;Initial Catalog=asp_proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
